<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<style>
    {% load  static %}

    body {
        background-image: url("{% static  "photos/cow.jpg" %}");
         }
</style>


<body>

<h1 align="center">Dairy Management System</h1>

<a href>Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/createfarmer/">Farmer</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/managemilk/">Milk Management</a><br><br>
<a href="/mypage/"><h4 style="color: white">Click on Go to my page</h4></a>

</body>
</html>